SECRET_ENCRYPTION_KEY=<can be generated using openssl rand -hex 32>
DOCKER_HOSTNAMES=<A comma separated list of your docker hosts>
DOCKER_PORTS=<A comma separated list if the listesning port of the docker host. Each host needs to have a port>