APP_URL=<The app URL where passbolt is reachable>
DB_PASSWORD=<Password for the database>
DB_ROOT_PASSWORD=<Root password for the database>
EMAIL_DEFAULT_FROM=<active E-Mail Alias on mail server>
EMAIL_TRANSPORT_DEFAULT_HOST=<smtp service of mail server>
EMAIL_TRANSPORT_DEFAULT_USERNAME=<Login User Name for the mail server>
EMAIL_TRANSPORT_DEFAULT_PASSWORD=<Login password for the mail server>
EMAIL_TRANSPORT_DEFAULT_PORT=<Dedicated port for the communication with mail server. Refer to mail provider documentation>
EMAIL_TRANSPORT_DEFAULT_TLS=<Set to true>