APP_URL=
DB_PASSWORD=
DB_ROOT_PASSWORD=
EMAIL_DEFAULT_FROM=
EMAIL_TRANSPORT_DEFAULT_HOST=
EMAIL_TRANSPORT_DEFAULT_USERNAME=
EMAIL_TRANSPORT_DEFAULT_PASSWORD=
EMAIL_TRANSPORT_DEFAULT_PORT=
EMAIL_TRANSPORT_DEFAULT_TLS=