DEFAULT_THEME=dark
LOGLEVEL=<Log level, can be set to DEBUG, INFO, WARNING, ERROR, CRITICAL, or NONE. Defaults to INFO.>
OUTPUT_TEMPLATE=<Define the folder and file name for downloaded contents>
TIMEZONE=<Set your Timezone, e.g. Europe/Berlin>
SMBSHARE=<Folder on SMB share to move final files>
NOTIFY=<Mount for notification script>
NTFY_TOPIC=<Topic for the communication with notfy.sh. Topic names may only contain letters, numbers, underscores and dashes ([-_A-Za-z0-9]), and may be up to 64 characters long.>
DOWNLOADS=<Local folder to for downloads and processing prior to transfer to SMB share>
YTDL_OPTIONS=<Define the YT-DL options. Refer to the cookbook in metube GitHub for more information>
YTDL_OPTIONS_PRESETS_FILE=<References the presets.json file>

