DEFAULT_THEME=<Default theme to use for the UI, can be set to light, dark, or auto. Defaults to auto.>
LOGLEVEL=<log level, can be set to DEBUG, INFO, WARNING, ERROR, CRITICAL, or NONE. Defaults to INFO>
YTDL_OPTIONS=<Specific options for processing of the download and transcoding>
SMBSHARE_FOLDER=<destination folder on smbshare>  # Base directory to store contents on smbshare. Requires docker container to have access rights on the share

